= javascript_pack_tag 'nps_o_matic'

.page
  .container
    .row
      .col
        %h1 NPS-o-Matic

    #nps-o-matic{data: @nps_obj.to_json}

    .row
      .col.col-widened
        .module
          .module-header
            .module-header-main NPS Color Legend
          .module-body
            .nps-color-legend-thermometer
            .row.nps-color-legend-scale
              .col.nps-color-legend-scale-bar
              .col.nps-color-legend-scale-bar
              .col.nps-color-legend-scale-bar
              .col.nps-color-legend-scale-bar
              .col.nps-color-legend-scale-bar
              .col.nps-color-legend-scale-bar
              .col.nps-color-legend-scale-bar
              .col.nps-color-legend-scale-bar.last

            .row.nps-color-legend-numbers
              .under-one-hundred
                .row
                  .col.nps-color-legend-number
                    \-100
                  .col.nps-color-legend-number
                    \-75
                  .col.nps-color-legend-number
                    \-50
                  .col.nps-color-legend-number
                    \-25
                  .col.nps-color-legend-number
                    &nbsp;&nbsp;0
                  .col.nps-color-legend-number
                    &nbsp;25
                  .col.nps-color-legend-number
                    &nbsp;50
                  .col.nps-color-legend-number
                    &nbsp;75
              .one-hundred
                .row
                  .col.nps-color-legend-number
                    100
      .col
